<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Uredi sporocilo</h1>

    <form method="post" action="">
        <label for="text-sporocila">Vnesi besedilo</label>
        <input name="text-sporocila" id="text-sporocila" value="{{sporocilo.besedilo_sporocila}}"/>
        <label for="ime">Ime</label>
        <input name="ime" id="ime" value="{{sporocilo.avtor}}"/>
        <button type="submit">shrani</button>
    </form>
</body>
</html>